@model IEnumerable<DaviesForumApp.Models.MessagePost>

@{
    ViewData["Title"] = "Index";
   
}

<h1>List of Messages</h1>
<p>
    <a asp-controller="MessagePosts" asp-action="Search">Search</a>
</p>
<p>
    <a asp-action="Create">Create New Message</a>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Message)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.User.UserName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.User.UserId)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.User.Department)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.User.UserEmail)</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Message)</td>
            <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.User.UserId)</td>
            <td>@Html.DisplayFor(modelItem => item.User.Department)</td>
            <td>@Html.DisplayFor(modelItem => item.User.UserEmail)</td>
            
             <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
        </tr>
        }
    </tbody>
</table>
