@model DaviesForumApp.Models.Replies

@{
    ViewData["Title"] = "Index";
    
}

<h1>Reply Details</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">Reply ID</p>
                </div>
                <div class="card-body">
                    <p class="mb-0">
                    <p>@Html.DisplayFor(model => model.Id)</p>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">@Html.DisplayNameFor(model => model.Reply)</p>
                </div>
                <div class="card-body">
                    <p class="mb-0">
                        <p class="fw-bold mb-0">@Html.DisplayFor(model => model.Reply)</p>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">Replier's Name</p>
                </div>
                <div class="card-body">
                    <p class="mb-0">
                    <p>@Html.DisplayFor(model => model.Name)</p>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">@Html.DisplayNameFor(model => model.MessagePost.Title)</p>
                </div>
                <div class="card-body">
                    <p class="mb-0">
                    <p>@Html.DisplayFor(model => model.MessagePost.Title)</p>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">@Html.DisplayNameFor(model => model.MessagePost.Message)</p>
                </div>
                <div class="card-body">
                    <p class="mb-0">
                    <p>@Html.DisplayFor(model => model.MessagePost.Message)</p>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">Message Id</p>
                </div>
                <div class="card-body">
                    <p class="mb-0">
                    <p>@Html.DisplayFor(model => model.MessagePost.Id)</p>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">OG Poster's ID</p>
                </div>
                <div class="card-body">
                    <p class="mb-0">
                    <p>@Html.DisplayFor(model => model.MessagePost.UserId)</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i> Edit</a> |
    <a asp-action="Search" class="btn btn-dark">Back to List</a>
</div>
