@model DaviesForumApp.Models.Replies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Replies</h4>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MessagePost.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MessagePost.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessagePost.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessagePost.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MessagePost.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MessagePost.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MessagePost.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MessagePost.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
