@model IEnumerable<DaviesForumApp.Models.Replies>

@{
    ViewData["Title"] = "Index";
   
}

<h1>List of Replies</h1>

<p>
    <a asp-action="Create">Create New Reply</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Message
            </th>
            <th>
                Message ID
            </th>
            <th>
                Original Poster's ID
            </th>
            <th>
                Reply to Query
            </th>
            <th>
                Replier's Name
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessagePost.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessagePost.Message)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MessagePost.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MessagePost.UserId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
